@import "../../../styles/colours";
@import "../../../styles/spacing";

.WeddingSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @extend %textured;
}