.hero-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
}