@import "../../styles/spacing";
@import "../../styles/colours";

.hero-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 25%;
  background-image:
          linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
          url(./images/heroImage.jpg)
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.hero-title {
  padding-bottom: $medium;
  text-shadow: 0 1px 0 black;
  h1, h2 {
    color: white;
    text-shadow: 1px 1px 0 black;

  }
}