@import "../../styles/colours";
@import "../../styles/spacing";

.WeddingInfo {
  background-color: $light-brown;

  .SectionTitle {
    padding-top: $wider;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: $wider;
    max-width: 1400px;
  }

  .ContentBox {
    flex: 0 1 600px;
    margin: $wider;

    @media (max-width: 600px) {
      margin: $medium 0;
    }

    p {
      margin: 0.5em 0;
    }
  }

  .venue {
    flex: 1 0 auto;
    background-image: url(./images/flower.png);
    background-position: bottom left;
    background-size: 20%;
    background-repeat: no-repeat;
  }

  .parking {
    padding-bottom: 1em;
  }

  .menu-key {
    font-weight: bold;
  }

  .menu-options {
    padding-bottom: 0.5em;
  }

  .flower {
    flex: 1 0 auto;
    background-image: url(./images/flower2.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}