@import "../../styles/colours";
@import "../../styles/spacing";

.WeddingInfo {
  background-color: $light-brown;

  .SectionTitle {
    padding-top: $wider;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 0 $wider $wider;
  }

  .ContentBox {
    flex: 0 1 600px;
    margin: $wider;

    @media (max-width: 600px) {
      margin: $medium 0;
    }

    p {
      margin: 0.5em 0;
    }
  }

  .parking {
    padding-bottom: 1em;
  }

  .menu-options {
    padding-bottom: 0.5em;
  }
}