@import "../styles/colours";
@import "../styles/spacing";
@import "../styles/fontSizes";

.Login {
  font-size: $large;
  background-color: $brown;

  .WeddingSection {
    height: 100vh;
  }

  .login-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .content {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: $medium;

    .SectionTitle, .info-text {
      padding-bottom: $medium;
    }

    .login-form {
      flex: 1 0 auto;
    }

    .login-form-button {
      width: 100%;
    }
  }
}