@import "../styles/colours";

.Wedding {
  .menu {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: $royal-red;
    border-bottom-color: black;
    @extend %textured;

    .ant-menu-item > a {
      color: white;
    }
  }
}